# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

alerts/.idea/
alerts/.sourcemaps/
alerts/.sass-cache/
alerts/.tmp/
alerts/.versions/
alerts/coverage/
alerts/dist/
alerts/node_modules/
alerts/tmp/
alerts/temp/
alerts/hooks/
alerts/platforms/
alerts/plugins/
alerts/plugins/android.json
alerts/plugins/ios.json
alerts/www/
alerts/$RECYCLE.BIN/

pila/.idea/
pila/.sourcemaps/
pila/.sass-cache/
pila/.tmp/
pila/.versions/
pila/coverage/
pila/dist/
pila/node_modules/
pila/tmp/
pila/temp/
pila/hooks/
pila/platforms/
pila/plugins/
pila/plugins/android.json
pila/plugins/ios.json
pila/www/
pila/$RECYCLE.BIN/

miapp/.idea/
miapp/.sourcemaps/
miapp/.sass-cache/
miapp/.tmp/
miapp/.versions/
miapp/coverage/
miapp/dist/
miapp/node_modules/
miapp/tmp/
miapp/temp/
miapp/hooks/
miapp/platforms/
miapp/plugins/
miapp/plugins/android.json
miapp/plugins/ios.json
miapp/www/
miapp/$RECYCLE.BIN/


buttons/.idea/
buttons/.sourcemaps/
buttons/.sass-cache/
buttons/.tmp/
buttons/.versions/
buttons/coverage/
buttons/dist/
buttons/node_modules/
buttons/tmp/
buttons/temp/
buttons/hooks/
buttons/platforms/
buttons/plugins/
buttons/plugins/android.json
buttons/plugins/ios.json
buttons/www/
buttons/$RECYCLE.BIN/

action_shhets/.idea/
action_shhets/.sourcemaps/
action_shhets/.sass-cache/
action_shhets/.tmp/
action_shhets/.versions/
action_shhets/coverage/
action_shhets/dist/
action_shhets/node_modules/
action_shhets/tmp/
action_shhets/temp/
action_shhets/hooks/
action_shhets/platforms/
action_shhets/plugins/
action_shhets/plugins/android.json
action_shhets/plugins/ios.json
action_shhets/www/
action_shhets/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
