# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

comedero/.idea/
comedero/.sourcemaps/
comedero/.sass-cache/
comedero/.tmp/
comedero/.versions/
comedero/coverage/
comedero/dist/
comedero/node_modules/
comedero/tmp/
comedero/temp/
comedero/hooks/
comedero/platforms/
comedero/plugins/
comedero/plugins/android.json
comedero/plugins/ios.json
comedero/www/
comedero/$RECYCLE.BIN/

restaurantes/.idea/
restaurantes/.sourcemaps/
restaurantes/.sass-cache/
restaurantes/.tmp/
restaurantes/.versions/
restaurantes/coverage/
restaurantes/dist/
restaurantes/node_modules/
restaurantes/tmp/
restaurantes/temp/
restaurantes/hooks/
restaurantes/platforms/
restaurantes/plugins/
restaurantes/plugins/android.json
restaurantes/plugins/ios.json
restaurantes/www/
restaurantes/$RECYCLE.BIN/

gmail/.idea/
gmail/.sourcemaps/
gmail/.sass-cache/
gmail/.tmp/
gmail/.versions/
gmail/coverage/
gmail/dist/
gmail/node_modules/
gmail/tmp/
gmail/temp/
gmail/hooks/
gmail/platforms/
gmail/plugins/
gmail/plugins/android.json
gmail/plugins/ios.json
gmail/www/
gmail/$RECYCLE.BIN/

menus/.idea/
menus/.sourcemaps/
menus/.sass-cache/
menus/.tmp/
menus/.versions/
menus/coverage/
menus/dist/
menus/node_modules/
menus/tmp/
menus/temp/
menus/hooks/
menus/platforms/
menus/plugins/
menus/plugins/android.json
menus/plugins/ios.json
menus/www/
menus/$RECYCLE.BIN/

listas/.idea/
listas/.sourcemaps/
listas/.sass-cache/
listas/.tmp/
listas/.versions/
listas/coverage/
listas/dist/
listas/node_modules/
listas/tmp/
listas/temp/
listas/hooks/
listas/platforms/
listas/plugins/
listas/plugins/android.json
listas/plugins/ios.json
listas/www/
listas/$RECYCLE.BIN/

grid/.idea/
grid/.sourcemaps/
grid/.sass-cache/
grid/.tmp/
grid/.versions/
grid/coverage/
grid/dist/
grid/node_modules/
grid/tmp/
grid/temp/
grid/hooks/
grid/platforms/
grid/plugins/
grid/plugins/android.json
grid/plugins/ios.json
grid/www/
grid/$RECYCLE.BIN/

slides/.idea/
slides/.sourcemaps/
slides/.sass-cache/
slides/.tmp/
slides/.versions/
slides/coverage/
slides/dist/
slides/node_modules/
slides/tmp/
slides/temp/
slides/hooks/
slides/platforms/
slides/plugins/
slides/plugins/android.json
slides/plugins/ios.json
slides/www/
slides/$RECYCLE.BIN/

tabs/.idea/
tabs/.sourcemaps/
tabs/.sass-cache/
tabs/.tmp/
tabs/.versions/
tabs/coverage/
tabs/dist/
tabs/node_modules/
tabs/tmp/
tabs/temp/
tabs/hooks/
tabs/platforms/
tabs/plugins/
tabs/plugins/android.json
tabs/plugins/ios.json
tabs/www/
tabs/$RECYCLE.BIN/

alerts/.idea/
alerts/.sourcemaps/
alerts/.sass-cache/
alerts/.tmp/
alerts/.versions/
alerts/coverage/
alerts/dist/
alerts/node_modules/
alerts/tmp/
alerts/temp/
alerts/hooks/
alerts/platforms/
alerts/plugins/
alerts/plugins/android.json
alerts/plugins/ios.json
alerts/www/
alerts/$RECYCLE.BIN/

pila/.idea/
pila/.sourcemaps/
pila/.sass-cache/
pila/.tmp/
pila/.versions/
pila/coverage/
pila/dist/
pila/node_modules/
pila/tmp/
pila/temp/
pila/hooks/
pila/platforms/
pila/plugins/
pila/plugins/android.json
pila/plugins/ios.json
pila/www/
pila/$RECYCLE.BIN/

miapp/.idea/
miapp/.sourcemaps/
miapp/.sass-cache/
miapp/.tmp/
miapp/.versions/
miapp/coverage/
miapp/dist/
miapp/node_modules/
miapp/tmp/
miapp/temp/
miapp/hooks/
miapp/platforms/
miapp/plugins/
miapp/plugins/android.json
miapp/plugins/ios.json
miapp/www/
miapp/$RECYCLE.BIN/


buttons/.idea/
buttons/.sourcemaps/
buttons/.sass-cache/
buttons/.tmp/
buttons/.versions/
buttons/coverage/
buttons/dist/
buttons/node_modules/
buttons/tmp/
buttons/temp/
buttons/hooks/
buttons/platforms/
buttons/plugins/
buttons/plugins/android.json
buttons/plugins/ios.json
buttons/www/
buttons/$RECYCLE.BIN/

action_shhets/.idea/
action_shhets/.sourcemaps/
action_shhets/.sass-cache/
action_shhets/.tmp/
action_shhets/.versions/
action_shhets/coverage/
action_shhets/dist/
action_shhets/node_modules/
action_shhets/tmp/
action_shhets/temp/
action_shhets/hooks/
action_shhets/platforms/
action_shhets/plugins/
action_shhets/plugins/android.json
action_shhets/plugins/ios.json
action_shhets/www/
action_shhets/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
