# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

pila/.idea/
pila/.sourcemaps/
pila/.sass-cache/
pila/.tmp/
pila/.versions/
pila/coverage/
pila/dist/
pila/node_modules/
pila/tmp/
pila/temp/
pila/hooks/
pila/platforms/
pila/plugins/
pila/plugins/android.json
pila/plugins/ios.json
pila/www/
pila/$RECYCLE.BIN/

miapp/.idea/
miapp/.sourcemaps/
miapp/.sass-cache/
miapp/.tmp/
miapp/.versions/
miapp/coverage/
miapp/dist/
miapp/node_modules/
miapp/tmp/
miapp/temp/
miapp/hooks/
miapp/platforms/
miapp/plugins/
miapp/plugins/android.json
miapp/plugins/ios.json
miapp/www/
miapp/$RECYCLE.BIN/


buttons/.idea/
buttons/.sourcemaps/
buttons/.sass-cache/
buttons/.tmp/
buttons/.versions/
buttons/coverage/
buttons/dist/
buttons/node_modules/
buttons/tmp/
buttons/temp/
buttons/hooks/
buttons/platforms/
buttons/plugins/
buttons/plugins/android.json
buttons/plugins/ios.json
buttons/www/
buttons/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
