<ion-header>
  <ion-navbar>
    <ion-title>
      Slides
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides #carousel pager>
    <ion-slide *ngFor="let slide of slides">
      <img [src]= "slide.imagen" \>
      <h2>{{slide.titulo}}</h2>
      <p>{{slide.texto}}</p>
      <button ion-button *ngIf=!carousel.isBeginning()
          (click)="anterior()">Anterior</button>
      <button ion-button (click)="siguiente()">Siguiente</button>
    </ion-slide>
    <ion-slide>
      <h2>Otra pestaña estatica</h2>
      <p>Contenido nueva pestaña <br/></p>
      <button ion-button (click)="volver()">Volver a empezar</button>
    </ion-slide>
  </ion-slides>
</ion-content>